.error {
  color: red;
  background: lightgrey;
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
}

.button {
  font-family:'Segoe UI';
  background-color: #da950b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 5%;
}

.button:hover {
  background-color: #48c1df;
  transition-duration: 500ms;
}

.imageLogo {
  /* display: block; */
  height: 50%;
  width: 50%;
  border-radius: 10px;
  margin-top: 3%;
  margin-left: 3%;
  opacity: 0.7;
}

.logoDiv {
  display: relative; /* or block */
  z-index: 10; /* optional, but recommended */
  position: absolute;
}

body {
  margin: 0;
  padding: 0;

  /* background-image: url("/background_home1.jpg"); */
  /* background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover; */

  background-color: #f4f4f4;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}



/* --------------------------FORMS--------------------------- */
  
.form-input {
  padding: 12px 20px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.loginButton {
  background-color: #04AA6D;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family:'Segoe UI';
  height: 40px;
  line-height: 40px;
  padding: 0 24px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  border-radius: 28px;
}


.formGrandpa {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: 1;
}

.formParent {
  display: table-cell;
  vertical-align: middle;

  z-index: 1;
}

.forms {
  margin-left: auto;
  margin-right: auto;
  width: 350px;

  text-align: center;

  padding: 20px 40px 50px 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  /* border: 2px solid #ccc; */
  border-radius: 7px;
  background-color: #ffffff;

}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pass-input-container {
  position: relative;
}

.form-input {
  width: 100%;
  padding-right: 40px;
  border-radius: .75rem;
}

input::placeholder {
  font-size: 1.1em;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

/* --------------------------FORMS--------------------------- */

/* CSS */
.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-40:hover {
  background-color: #374151;
}