.error {
  color: red;
  background: lightgrey;
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
}

.button {
  font-family: 'Segoe UI';
  background-color: #da950b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 5%;
}

.button:hover {
  background-color: #48c1df;
  transition-duration: 500ms;
}

.imageLogo {
  /* display: block; */
  height: 50%;
  width: 50%;
  border-radius: 10px;
  margin-top: 3%;
  margin-left: 3%;
  opacity: 0.7;
}

.logoDiv {
  display: relative;
  /* or block */
  z-index: 10;
  /* optional, but recommended */
  position: absolute;
}

body {
  margin: 0;
  padding: 0;

  /* background-attachment:fixed; */

  background-color: #ffffff;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



/* --------------------------FORMS--------------------------- */

.form-input {
  padding: 12px 20px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.loginButton {
  background-color: #04AA6D;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Segoe UI';
  height: 40px;
  line-height: 40px;
  padding: 0 24px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  border-radius: 28px;
}


.formGrandpa {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: 1;
}

.formParent {
  display: table-cell;
  vertical-align: middle;

  z-index: 1;
}

.forms {
  margin-left: auto;
  margin-right: auto;
  width: 350px;

  text-align: center;

  padding: 20px 40px 50px 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  /* border: 2px solid #ccc; */
  border-radius: 7px;
  background-color: #ffffff;

}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pass-input-container {
  position: relative;
}

.form-input {
  width: 100%;
  padding-right: 40px;
  border-radius: .75rem;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

input::placeholder {
  font-size: 1.1em;
}

.radio-group {
  display: flex;
  /* Use flexbox for layout */
  justify-content: space-between;
  /* Space between radio buttons */
  margin: 0 auto;
  /* Center the group */
  /* padding: 20px; */
}

.radio-group input[type="radio"] {
  margin-right: 10px;
}

.radio-group label {
  /* margin-right: 40px; */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

/* Optional: Style for the radio buttons */
.radio-group input[type="radio"]:checked {
  accent-color: #111827;
  /* Change the color of the checked radio button (modern browsers) */
}

.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-40:hover {
  background-color: #374151;
}

/* --------------------------FORMS-END--------------------------- */

nav {
  width: 100%;
  background-color: rgb(245, 245, 245);
  /* padding-left: 30px; */
  /* padding-right: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;

  z-index: 10;

}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;

  margin-right: 5px;

  vertical-align: middle;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;

  text-decoration: none;
  color: rgb(0, 0, 0);

  /* border: 2px solid black; */
  border-radius: 7px;
}

.nav-item:hover {
  background-color: rgb(206, 205, 205);
  border-radius: 7px;
}

/* .nav-item:hover a {
  color: darkgreen;
} */

.logo img {
  width: 175px;
  vertical-align: middle;
  margin-left: 30px;
}

/* --------------------------NAVBAR-START--------------------------- */



/* --------------------------NAVBAR-END--------------------------- */



/* --------------------------MAIN-ABOVE-FOLD-START--------------------------- */

.personas-buttons {
  /* position: absolute; */
  /* margin-top: 55vh;
  margin-left: 15vh; */
  margin-bottom: 50px;
}

.persona1-button {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 220px;
}

.persona1-button:hover {
  background-color: #374151;
}

.persona2-button {
  background-color: #ffffff;
  border: 2px solid #111827;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 220px;
}

.persona2-button:hover {
  background-color: #d2d5da;
}

.searchbar-main {
  display: flex;
  flex-direction: row;

  border: 2px solid #111827;
  border-radius: 25px;

  gap: 20px;

  padding: 10px;

  width: 750px;
}

.searchbar-main-icon {
  margin-top: auto;
  margin-bottom: auto;
}

.searchbar-main-input {
  vertical-align: middle;
  outline-width: 0;
  border: 0;
  font-size: 1.125rem;
  font-weight: 600;

  background-color: #00000000;

}

.searchbar-main-input:focus {
  /* padding: 12px 20px; */
  outline: none;
  border: 0;
  /* border-radius: 4px; */
}

.main-elements {
  width: 50%;
  margin-top: 55vh;
  margin-left: 15vh;
}

/* --------------------------MAIN-ABOVE-FOLD-END--------------------------- */

/* --------------------------SIDEBAR-START--------------------------- */
/* The sidebar menu */
.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 250px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: turquoise;  /* TODO: IDK #38bca4, rgb(72,124,116) pressed*/
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 74px;
}

/* The navigation menu links */
.sidenav a {
  padding: 16px 8px 16px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  border-top: 1px solid white;
  /* margin-bottom: 1px; */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* --------------------------SIDEBAR-END--------------------------- */

.verticalLine {
  border-left: 2px solid #000000;
  border-radius: 20px;
}


.calendar-cell {
  border: 2px solid #000000;
}

td {
  padding: 10px;
  text-align: center;

  width: 20px;
  height: 20px;
}

table {}

.diadikasia-text {
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.700rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.aboveFold {
  height: 95vh;
  background-image: url("backgrounds/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  ;
}

.directions-main {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: center;
}

.directions-element {
  width: 10%;
  height: 400px;
  background-color: #dbdbdb;
  /* border-right: 2px solid #ffffff; */

  justify-content: center;
}

.numberCircle {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 8px;

  margin: 0 auto;
  margin-top: 20px;

  /* background: #fff; */
  border: 2px solid #000000;
  color: #000000;
  text-align: center;

  font: 40px Arial, sans-serif;
  margin-bottom: 30px;

  /* box-shadow: 1px 1px 1px 1px #a1a1a1; */
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;

  border-left: 32px solid #dbdbdb;

  position: absolute;

  /* z-index: 0; */
  margin-top: 25px;
}

.odigia-title {
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.350rem;
  font-weight: 400;
}

.odigia-text {
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.350rem;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
}

.scrollButton {
  position: fixed;
  margin-top: 90vh;
  margin-left: 93vw;
  padding: 7px;

  background-color: #7dcfff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: none;
}

.scrollButton:hover {
  background-color: #6bc9ff;
  transition-duration: 500ms;
}

.slick-prev:before {
  font-size: 30px;
  color: #000000;
}

.slick-next:before {
  font-size: 30px;
  color: #000000;
}



















.list li {
  margin: 0.75rem 0;
}

.info {
  color: rgb(0, 49, 0);
  background-color: rgb(230, 246, 230);
  padding: 1rem;
  border-radius: 4px;
}

.accordion {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
}

.item {
  border-bottom: 1px solid #ccc;
}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  color: #007bff;
  background-color: transparent;
  border: none;
}

.itemBtn:hover {
  background-color: #f3f3f3;
}

.itemBtnExpanded {
  background-color: #e7e7e7;
}

.itemContent {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
  padding: 1rem;
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}

/* PARENT COMPONENT-START */

.box {
  padding: 50px;
  border: 2px solid rgb(240, 237, 237);
  box-shadow: 10px 10px 5px lightgray;
  background-color: #F4F4F4;
}

.box1 {
  padding: 20px;
  border: 2px solid rgb(240, 237, 237);
  box-shadow: 10px 10px 5px lightgray;
  background-color: #F4F4F4;
}

.box2 {
  padding: 20px;
  border: 2px solid rgb(240, 237, 237);
  box-shadow: 5px 5px 2px lightgray;
  background-color: #F4F4F4;
}
.box2:hover {
  padding: 20px;
  border: 2px solid rgb(240, 237, 237);
  box-shadow: 10px 10px 5px lightgray;
  transition-duration: 300ms;
  background-color: #F4F4F4;
}

.flex-container1 {
  flex-direction: column;
  gap: 20px;

  margin-top: 50px;
  margin-bottom: 50px;

  display: flex;
  flex-wrap: wrap;

  width: 1300px;
  height: 1300px;
}


.top-left {
  order: 1;
  margin-bottom: 50px;
  margin-right:50px;
  
  width: 500px;
  height: 750px;
}

.top-right {
  order: 2;
  
  width: 500px;
  height: 250px;
  
}

.bottom-left {
  order: 3;
  margin-right:50px;

  width: 500px;
  height: 500px;
}

.bottom-right {
  order: 4;
  margin-top: 50px;
  
  width: 500px;
  height: 500px;
}

a.button-purple {
  text-decoration: none;
  width: auto;
  margin: 10px 10px 10px 10px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f0e4f4;
}

a.button-purple-center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f0e4f4;
}

button.custom-button {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-left: 1px;
  text-align: center;
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
}

/* PARENT COMPONENT-END*/


.profile-key {
  flex: 1;
  color: #000000;
  font-weight: 600;
}

.profile-value {
  flex: 1;
  color: #374151;
  font-weight: 450;
}

/* -------------------TOGGLE SWITCH_START ------------------------------*/

/* -------------------TOGGLE SWITCH-END ------------------------------*/

.circle {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the div a circle */
  background-color: #000000; /* Background color */
  color: white; /* Text color */
  display: flex; /* Center the text */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-size: 15px; /* Font size for initials */
  font-weight: bold; /* Make initials bold */
  text-align: center; /* Center text */
}

.circle-profile-bio {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the div a circle */
  background-color: #e4e4e4; /* Background color */
  color: rgb(0, 0, 0); /* Text color */
  display: flex; /* Center the text */
  align-items: center;
  justify-content: center; 
  font-size: 65px; /* Font size for initials */
  text-align: center; /* Center text */
}

.circle-profile-review {
  width: 70px; /* Adjust the size as needed */
  height: 70px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the div a circle */
  background-color: #000000; /* Background color */
  color: rgb(255, 255, 255); /* Text color */
  display: flex; /* Center the text */
  align-items: center;
  justify-content: center; 
  font-size: 30px; /* Font size for initials */
  text-align: center; /* Center text */
}




.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-top: 5px;
  width: 150px;

    
  /* margin-left: 90vw; */
  /* margin-right: -150px; */
}

.menu ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.menu li {
  padding: 8px 10px;
}

.menu li:hover {
  background-color: #f1f1f1;
}

.menu a {
  text-decoration: none;
  color: black;
  display: block;
}

/*------------UPLOAD FILE---------------*/
input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #111827;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;

  /* color:#111827; */
  width: auto;
}

input[type='file'] {
  color: rgba(0, 0, 0, 0)
}

input#selBtn:after 
{    
    content: 'Ανεβάστε αρχεία';
}


/*------------UPLOAD FILE---------------*/

.arrow-box {
  position: relative;
  background: #ffbaba;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; 

  width: 160px; 
  height: 45px
}

.arrow-box:before{
  content: "";
  position: absolute;
  top: 7px;
  left:-25px;
  z-index: 1;
  border: solid 15px transparent;
  border-right-color: #ffbaba;
}